main {
  width: 800px;
  margin: 200px auto 50px auto;
  padding: 25px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: rgb(4, 106, 106);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 3px solid rgb(0, 0, 0);
  display: inline;
  margin-top: -128.6px;
}

h1 {
  font-size: 30px;
  color: rgb(2, 50, 50);
}

span {
  color: rgb(58, 192, 192);
}

#challenge {
  color: rgb(2, 47, 47);
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}

p{
  color: burlywood;
}

