body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

#page-logo a {
  text-decoration: none;
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(219, 159, 55);
  font-size: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

header ul {
  display: flex;
  padding: 20px 100px 0px 0px;
}

header li {
  margin: 0px 10px;
}

header a {
  text-decoration: none;
  font-size: 20px;
  color: yellow;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  padding: 12px;
}

nav a:hover,
nav a:active {
  color: black;
  background-color: yellow;
  border-radius: 8px;
}
